* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3px;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  padding: 5px; 
}

.modal{
  background-color: rgba(75, 75, 75, 0.795);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-img{
  height: 85%;
}


.modal.open{
  visibility: visible;
}